input[type="checkbox"].toggle{
    opacity:0;
    position:absolute;
    /* What this does is it essentially makes it so that my checkbox is no longer on the page. It's moved so far off the page that it is no longer there. I can still check and uncheck the box because clicking on the label when you have the for property set it'll actually toggle your checkbox...*/
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label{
    position:relative;
    display:flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before{
    content:"";
    background-color: hsl(0, 80%, 90%);
    margin-right: 0.25em;
    transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::before{
    background-color: hsl(100, 70%, 90%);
}

input[type="checkbox"].toggle:focus + label::before{
    /* outline: 1px solid rgb(167, 166, 166); */
}

input[type="checkbox"].toggle + label::after{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:0.2em;
    font-size: .5em;
    background-color: hsl(0, 80%, 60%);
    color: white;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after{
    /* left: 1em; */
    transform: translateX(100%);
    background-color: hsl(100, 70%, 60%);
}


/* Round Toggle */
input[type="checkbox"].toggle-round + label::before{
    width: 2em;
    height: 1em;
    border-radius: 1em;
}

input[type="checkbox"].toggle-round + label::after{
    content: "\2715";
    background-color: hsl(0, 80%, 60%);
    border-radius: 1em;
    width: 1.8em;
    height: 1.8em;
}

input[type="checkbox"].toggle-round:checked + label::after{
    content: "\2713";
}


/* Square Toggle */
input[type="checkbox"].toggle-square + label::before{
    width: 2.4em;
    height: .2em;
    border-radius: .1em;
}

input[type="checkbox"].toggle-square:checked + label::before{
    background-color: hsl(182, 76%, 81%);
}

input[type="checkbox"].toggle-square + label::after{
    content: "off";
    font-family: "Helvetica", sans-serif;
    background-color: hsl(332, 92%, 50%);
    border-radius: .2em;
    width: 2.4em;
    height: 2.4em;
}

input[type="checkbox"].toggle-square:checked + label::after{
    content: "on";
}



/*  disabled */
input[type="checkbox"].toggle:disabled + label{
    color: #777;
}

input[type="checkbox"].toggle:disabled + label::before{
    background-color: #CCC;

}

input[type="checkbox"].toggle:disabled + label::after{
    background-color: #777;
}

label{
    font: .8rem sans-serif;
    max-width: max-content;
}